#home .team .title {
  text-align: center;
  font-size: 20px;
}

#home .team .team_box {
  margin: 15px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#home .team .team_box .item {
  margin: 10px;
  width: 180px;
  height: 180px;
  background-color: #e6e6e6;
  border: 1px solid #333;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

#home .team .team_box .item.empty {
  border: 1px solid #aaa;
  background-color: #f2f2f2;
  transition-duration: 300ms;
}
#home .team .team_box .item.empty:hover {
  border: 1px solid #333;
  background-color: #e6e6e6;
  transition-duration: 300ms;
}

#home .team .team_box .item.empty i {
  margin-top: 55px;
  font-size: 65px;
  color: #aaa;
  transition-duration: 300ms;
}
#home .team .team_box .item.empty:hover i {
  color: #333;
  transition-duration: 300ms;
}

#home .team .team_box .item .poke_name {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

#home .team .team_box .item .poke_img {
  margin-top: 5px;
  width: 110px;
  height: 110px;
}
#home .team .team_box .item .base_experience {
  margin-top: -5px;
  font-size: 20px;
  font-weight: bold;
}
