<header>
  <div class="title">Poke Trader</div>

  <nav>
    <div class="item"><%= link_to('Nova Troca', root_path) %></div>
    <div>|</div>
    <div class="item"><%= link_to('Histórico de trocas', exchanges_path) %></div>
  </nav>
</header>
