@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

$font-primary: 'Roboto', sans-serif;

$color-invalid: #FF4F11;
$color-valid: #47B76F;

body {
  font-family: $font-primary;
}
